body {
    background: linear-gradient(0deg, rgb(248, 243, 172), rgb(243, 218, 133))
}   

* {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    font-weight: bold;
    padding: 0;
    margin: 0;
    margin-top: 25px;
}

.h1-underline {
    width: 115%;
    height: 1px;
    margin-left: -7.5%;
    background-color: rgb(83,79,193);
    border-radius: 20px;
}

.h1-container { 
    max-width: fit-content;
    max-height: fit-content;
    margin: 0 auto;
    padding: 0;
}

h2 {
    border-bottom: 1px solid rgb(83, 79, 193);
    text-align: center;
    margin: 2em auto;
    max-width: fit-content;
    padding: 0 10px
}

p {
    text-align: center;
    margin: 0 auto;
    max-width: 80%;
}

li {
    margin: 1em 0;
}

ol {
    margin-bottom: 2em;
}

.img {
    margin: 5em auto;
    text-align: center;
    border-radius: 50px;
}

img {
    border-radius: 15px;
    border: 1px solid rgb(83, 79, 193);
}

.link {
    border: 2px solid rgb(83,79,193);
    max-width: 200px;
    padding: 10px 10px;
    text-align: center;
    margin: 1rem auto;
    border-radius: 10px;
    display: block;
    background-color: rgb(222, 147, 106)
}

.link:hover {
    background-color: rgb(232, 178, 149);
}

.recipe-to-home {
    margin-bottom: 100px;
    margin-top: 80px;
    max-width: fit-content;
    padding: 10px 30px
}

a {
    text-decoration: none;
    color: black;
}

.description, .steps, .ingredients {
    border: 1px solid rgb(83 79 193);
    border-radius: 15px;
}

.description {
    max-width: 75%;
    margin: 20px auto;
    padding-bottom: 2em;
}

.ingredients {
    padding: 16px;
    padding-left: 32px;
    width:30%
}

.steps {
    padding: 16px;
    padding-left: 32px;
    width:30%
}
.ingredients-steps {
    margin-top: 5em;
    display: flex;
    justify-content: space-evenly;
}